<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= collection_select :place, :area, @areas, :id, :name, include_blank: "エリアを選択してください" %>
  <%= select :place, :country, [], include_blank: "国を選択してください", class: "default-country-select" %>
  <%= select :place, :city, [], include_blank: "都市を選択してください", class: "default-city-select" %>
    <% @areas.each do |area| %>
      <template id="country-of-area_<%= area.id %>">
        <%= collection_select :place, :country, area.children, :id, :name, include_blank: "国を選択してください" %>
      </template>
        <% area.children.each do |country| %>
          <template id="city-of-country_<%= country.id %>">
            <%= collection_select :place, :city, country.children, :id, :name, include_blank: "都市を選択してください" %>
          </template>
        <% end %>
    <% end %>

  <div class="field">
    <%= form.label :start_on %>
    <%= form.date_field :start_on %>
  </div>

  <div class="field">
    <%= form.label :finish_on %>
    <%= form.date_field :finish_on %>
  </div>

  <div class="field">
    <%= form.label :flexible %>
    <%= form.check_box :flexible %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>
