<p id="notice"><%= notice %></p>

 <p>
   <strong>Title:</strong>
   <%= @trip.title %>
 </p>

 <p>
  <strong>Area:</strong>
    <%= @trip.place.name if @trip.place.ancestry.nil? %>
    <%= @trip.place.parent.name if @trip.place.ancestry&.length == 1 %>
    <%= @trip.place.parent.parent.name if @trip.place.ancestry&.include?('/') %>
 </p>

 <p>
  <strong>Country:</strong>
    <%= @trip.place.name if @trip.place.ancestry&.length == 1 %>
    <%= @trip.place.parent.name if @trip.place.ancestry&.include?('/') %>
 </p>

 <p>
  <strong>City:</strong>
  <%= @trip.place.name if @trip.place.ancestry&.include?('/') %>
 </p>

 <p>
   <strong>Start on:</strong>
   <%= @trip.start_on %>
 </p>

 <p>
   <strong>Finish on:</strong>
   <%= @trip.finish_on %>
 </p>

 <p>
   <strong>Flexible:</strong>
   <%= @trip.flexible %>
 </p>

 <p>
   <strong>Description:</strong>
   <%= @trip.description %>
 </p>

 <p>
   <strong>Goal:</strong>
   <%= @trip.goal %>
 </p>

 <%= link_to 'Edit', edit_trip_path(@trip) %> |
 <%= link_to 'Back', trips_path %>