<!DOCTYPE html>
<html>
  <head>
    <title>AncestryTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <header>
  <h1>Ontrips</h1>
        <ul class="menu">
          <li class="menu__single">
              <a href="#" class="init-bottom"> User</a>
              <ul class="menu__second-level">
                  <li>All Users</li>
                  <li>Talk</li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">Trip</a>
              <ul class="menu__second-level">
                  <li>All Trips</li>
                  <li>Start a Trip</li>
                  <li>Favorite Trips</li>
                  <li>Joining Trips</li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">Blog</a>
              <ul class="menu__second-level">
                  <li>All Blogs</li>
                  <li>Post Blog</li>
              </ul>
          </li>
          <li class="menu__single">
              <a href="#" class="init-bottom">Account</a>
              <ul class="menu__second-level">
                  <li>Profiles</li>
                  <li>Account</li>
                  <li>Admin</li>
                  <li>Log out</li>
              </ul>
          </li>
        </ul>
    </header>
  </div>
    <%= yield %>
  </body>
</html>
